*.py[cod]
*.ilp
*.lp
env/
venv/
virtualenv/
.env/
.venv/
.virtualenv/
.idea/
gurobi.log
*.gz
pdf/
html/
png/
*.pickle
plans/
.coverage
.cache
htmlcov/
coverage.xml
.mypy_cache
htmlmypy/
_build
*.egg-info
